<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raju.native_developers">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.raju.native_developers.ui.activity.RequestActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    </application>

</manifest>